<div class="grid grid-cols-12 gap-5">
  <div
    *ngFor="let item of products$ | async"
    class="rounded-3xl p-2 shadow-xl col-span-12 sm:col-span-6 lg:col-span-4"
  >
    <div class="flex flex-row items-center gap-4 mb-6 p-4">
      <div
        class="bg-amber-500/10 flex items-center justify-center rounded-full w-12 h-12"
      >
        <mat-icon>shopping_cart</mat-icon>
      </div>
      <div>
        <h3 class="font-medium">{{ item.name }}</h3>
        <p class="text-sm text-neutral-500">
          Unidades disponibles
          <span class="font-semibold"> {{ item.inInventory }}</span>
        </p>
      </div>
    </div>
    <div class="flex flex-row items-center justify-between gap-8 mb-2 px-4">
      <div class="flex flex-col md:flex-row items-center gap-2">
        <h4 class="text-neutral-500">Minimos : {{ item.min }}</h4>
      </div>
      <div
        class="flex flex-col md:flex-row items-center gap-2 text-neutral-500"
      >
        <h4 class="text-neutral-600">Maximo: {{ item.max }}</h4>
      </div>
      <div
        class="flex flex-col md:flex-row items-center gap-2 text-neutral-500"
      >
        <h4>Estado: {{ item.enabled ? "Activo" : "Inactivo" }}</h4>
      </div>
    </div>
    <div>
      <app-quantity [product]="item"></app-quantity>
    </div>
  </div>
</div>
